.DS_Store

*.o
*.obj
*.lo
*.la
*.al
*.libs

*.exe
*.out
*.app
*.i*86
*.x86_64
*.so
*.dylib
*.dll

*.dSYM/
*.su
*.idb
*.pdb
*.mod*
*.exp

*.log
*.diff
*.patch
*.tmp
*.swp

*.stackdump
*.dep
*.tlog
*.vcxproj.user

[Cc]MakeCache.txt
[Cc]MakeFiles/
cmake_install.cmake
Makefile
build/
out/
bin/
lib/

.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

*.VC.db
*.VC.opendb
